<div class="main-container">
  <header class="fullscreen-element no-pad centered-text  okconde home_fix">
    <div class="background-image-holder parallax-background overlay">
      <a href="#" class="background-image"> <%= image_tag "background.jpg" %></a>
    </div>

    <%= render "layouts/search_bar" %>
  </header>
</div>
<div style="background: white">
  <section class="popular">
    <div class="container">
      <div class="title text-center m-b-30">
        <h2 class="all-paiting">All painting and artwork</h2>
        <p class="lead enjoy-beauty">Enjoy the beauty of art</p>
      </div>
      <%= paginate @pictures, theme: "twitter-bootstrap-4" %>
      <div class="row">
        <% @pictures.each do |p| %>
          <%= render "pictures/picture", p: p %>
        <% end %>
      </div>
    </div>
  </section>
</div>

<script>
    $('div#star-rating-design').raty({
        path: '/assets/',
        number: 5,
        score: function () {
            return $(this).attr('score');
        },
        scoreName: 'review[rating]',
        readOnly: false,
        starOn: 'star-on.png',
        half: true,
        starType: 'img',
        click: function (score) {
            var picture_id = $(this).attr('picture_id');
            $.ajaxSetup({
                headers: {
                    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                }
            });
            $.ajax({
                type: 'POST',
                url: '/rating_pictures/',
                dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                },
                data: {
                    design_rate: score,
                    picture_id: picture_id,
                },
                success: function (data) {
                    alert(data.message);
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    });
    $('div#star-rating-price').raty({
        path: '/assets/',
        number: 5,
        score: function () {
            return $(this).attr('score');
        },
        scoreName: 'review[rating]',
        readOnly: false,
        starOn: 'star-on.png',
        half: true,
        starType: 'img',
        click: function (score) {
            var picture_id = $(this).attr('picture_id');
            $.ajaxSetup({
                headers: {
                    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                }
            });
            $.ajax({
                type: 'POST',
                url: '/rating_pictures/',
                dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                },
                data: {
                    price_rate: score,
                    picture_id: picture_id,
                },
                success: function (data) {
                    alert(data.message);
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    });
    $('div#fa-show-picture').raty({
        path: '/assets/',
        number: 5,
        readOnly: true,
        score: function () {
            return $(this).attr('score');
        },
        scoreName: 'review[rating]',
        starOn: 'star-on.png',
        half: true,
        starType: 'img',
    });

</script>
