<div class="main-container">
  <header class="fullscreen-element no-pad centered-text okconde home_fix">
    <div class="background-image-holder parallax-background overlay">
      <a href="#" class="background-image"> <%= image_tag "background.jpg" %></a>
    </div>

    <%= render "layouts/search_bar" %>
  </header>
</div>
<div style="background: white">
  <section class="popular">
    <div class="container">
      <div class="title text-center m-b-30">
        <h2>The picture you need to find</h2>
        <p class="lead">Enjoy the beauty of art</p>
      </div>
      <% if !@result.empty? %>

        <%= paginate @result, theme: "twitter-bootstrap-4" %>
        <div class="row">

          <!-- Each popular food item starts -->
          <% @result.each do |p| %>
            <%= render "pictures/picture", p: p %>
          <% end %>
        </div>
      <% else %>
        <div class="alert display: inline-block">
          <i class="fa fa-hand-o-right" aria-hidden="true"></i> <h4 style="color: red">No imformation</h4>
        </div>
      <% end %>
    </div>
  </section>

</div>
