@import "bootstrap-sprockets";
@import "bootstrap";

.logo-font {
  font-weight: bold;
  color: white;
  font-size: x-large;
  &:hover {
    color: #b7d6c4;
  }
}

.warning-text-signup {
  color: white;
}

.signup-form {
  margin-top: 10%;
}

.error-devise {
  h5, ul {
    color: #dab239 !important;
  }
}

.form-post {
  background-color: white;
}

.box {
  background-color: white;
}

.file{
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: right;
  opacity: 0;
  background: none repeat scroll 0 0 transparent;
  cursor: inherit;
  display: block;
}

#price {
  color: red;
}

.home_fix {
  height: 500px !important;
}

.search_username {
  border-radius: 30px 0px 0px 30px !important;
  border-right-color: white;
}

.search_picturename {
  border-radius: 0px 30px 30px 0px !important;
}

.fa-show-picture {
  color: yellow;
  font-size: -webkit-xxx-large;
}

.valuate {
  color: #063105;
  font-size: large;
  float: left;
}

.valuate_text {
  text-align: center;
  font-weight: unset;
}