@import "bootstrap-sprockets";
@import "bootstrap";

.logo-font {
  font-weight: bold;
  color: white;
  font-size: x-large;
}

.warning-text-signup {
  color: white;
}

.signup-form {
  margin-top: 10%;
}